@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor-primaria: #0C0C0C;
    --cor-secundaria: #5E271A;
    --cor-terciaria: #F2613F;

    --fonte-primaria:"Krona One", serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}


* {
    /* Reseta as configurações padrões de navegador do navegador */
    margin: 0;
    padding: 0;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


body {
    /* padding: 8% 15%; */
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    /* Para comportar tudo dentro do body, para que não estoure o limite do pai e o filho saia dos limites do pai */
}

.cabecalho {
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    
}

.cabecalho__menu__link:hover{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.nome {
    color: var(--cor-terciaria);
}

.especialidade {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__botoes {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
}

.apresentacao__links a:hover {
    color: black;
    transform: scale(1.1);
    /*Aumentar o botão ao selecionar */
    transition: 0.5s all ease-in-out;
    /*Suavizar o aumento do hover */
}

.apresentacao__foto {
    border-radius: 50px;
    width: 50%;
    
}

.apresentacao__links__titulo2 {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.fa-brands {
    padding: 6px;
    font-size: 1.8rem;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: black;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding: 24px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
        align-items: center;
    }

    
} 
